@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.min-h-screen {
    min-height: 100vh;
    background-color: #1a1a1a;
    display: flex;
}

.textscreen {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    }

.textscreen h1 {
    line-height: 1.25;
    font-weight: 700;
    font-size: 3.75rem;
}

.textscreen h2 {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2rem;
}

.navlist {
    grid-gap: 1rem;
    gap: 1rem;
    display: flex;
    margin-top: 1.2rem;
}

.navlist2 {
    grid-gap: 1rem;
    gap: 1rem;
    display: flex;
    margin-bottom: 0.5rem;
}

.discodd {
    margin-top: 15px;
}

.theme-color {
    color: rgb(145, 14, 233);
}

/* ANIMAÇÕES */
    @keyframes slideInLeft {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
